<div class="row">
  <div class="contents col-md-10 col-12">
    <h1 class="display-4">Reference</h1>

    {{#sections}}
      <h3 class="pt-5 mt-n5" id="{{slug}}">{{title}}</h3>
      <div class="text-muted">
        {{{desc}}}
      </div>

      {{#contents}}
      <div class="row mb-3">
        <div class="col-md-6 col-12 order-md-1 order-2">
          {{#aliases}}
          <code><a href="{{path}}">{{{.}}}</a></code>
          {{/aliases}}
        </div>

        <div class="col-md-6 col-12 order-md-2">
          <p class="font-weight-light mb-0">
            {{{title}}}
          </p>
        </div>
      </div>
      {{/contents}}
    {{/sections}}
  </div>

  <div class="col-md-2 d-md-block d-none mt-md-3">
    <h4 class="m-0 ml-3">Contents</h4>
    <ul class="nav nav-pills flex-column">
      {{#sections}}
      <li class="nav-item">
        <a class="nav-link"
           href="#{{slug}}">
          {{title}}
        </a>
      </li>
      {{/sections}}
    </ul>
  </div>
</div>
