{{#navbar}}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" role="navigation">
  <span class="navbar-brand p-0">
    <img src="{{#site}}{{root}}{{/site}}logo.png" height="35">
    <a class="text-decoration-none text-light lead"
       href="{{#site}}{{root}}{{/site}}index.html">
      {{#site}}{{title}}{{/site}}
    </a>
    <sup>
      <span class="version badge badge-{{#development}}{{version_label}}{{/development}}">
         {{#package}}{{version}}{{/package}}
      </span>
    </sup>
  </span>

  <div class="navbar-collapse collapse">
    {{#left}}
    <ul class="navbar-nav ml-auto">
      {{{.}}}
    </ul>
    {{/left}}
    {{#yaml}}{{#docsearch}}
    <form class="form-inline d-sm-inline-block d-none mx-sm-3" role="search">
      <input type="search" class="form-control form-control-sm"
             name="search-input" id="search-input"
             placeholder="Search..."
             aria-label="Search for..." autocomplete="off">
    </form>
    {{/docsearch}}{{/yaml}}
    {{#right}}
    <ul class="navbar-nav">
      {{{.}}}
    </ul>
    {{/right}}
  </div>

</nav><!--/.navbar -->
{{/navbar}}
